@import "tailwindcss";

@theme {
  --color-brand-primary: #00FF94;
  --color-brand-accent: #00CC75;
  --color-brand-bg: #050505;
  --color-brand-text: #F2FCFF;

  --font-sans: var(--font-inter);
  --font-display: var(--font-syne);
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}